:root {
  --white-color: #fff;
  --dark-color: #333;
  --violet: #9D5CD0;
  --dark-violet: #7943A4;
  --light-violet: #C283F3;
  --lilac: #D1A9F0;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('/fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

svg, svg * {
  pointer-events: all;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible :focus {
  outline: 2px solid var(--dark-violet);
  outline-offset: 2px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 23px 32px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--violet);
  border: 3px solid var(--violet);
  border-radius: 100px;
  cursor: pointer;
}

.transparent-btn:focus,
.btn:focus {
  outline: none;
}

.transparent-btn:focus-visible:after,
.btn:focus-visible:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--light-violet);
}

.btn:hover {
  border-color: var(--lilac);
}

.btn:active {
  border-color: var(--lilac);
  background-color: var(--dark-violet);
}

.transparent-btn {
  /* margin: 3px; */
  display: block;
  position: relative;
  padding: 17px 35px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  border: 3px solid var(--violet);
  border-radius: 100px;
  background-color: transparent;
  color: var(--violet);
  cursor: pointer;
}

.transparent-btn:hover {
  background-color: var(--violet);
  color: var(--white-color);
}

.transparent-btn:active {
  border-color: var(--lilac);
  background-color: var(--dark-violet);
  color: var(--white-color);
}

.section-heading {
  margin-bottom: 20px;
  font-size: 3em;
}

/* header */

header {
  color: var(--white-color);
  font-size: 18px;
}

.header-main {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100px;
  background-color: #000;
}

.header-sub {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 100px;  
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, .4)
}

.header-main__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-main__logo {
  margin-right: 180px;
}

.nav {
  min-width: 896px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--light-violet);
}

.nav-link:active {
  color: var(--dark-violet);
}

.log-in {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 75px;
}

.log-in__icon {
  margin-right: 8px;
  width: 16px;
  height: 13px;
}

.log-in:hover {
  color: var(--light-violet);  
}

.log-in:hover .log-in__icon path  { 
  fill: var(--light-violet); 
}

.log-in:active {
  color: var(--violet);  
}

.log-in:active .log-in__icon path  { 
  fill: var(--violet); 
}

.header-sub__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  min-width: 1040px;
}

.sub-menu__link {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
}

.sub-menu__icon--arrow-down {
  margin-left: 5px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 12px;
  height: 11px;
}

.sub-menu__icon--arrow-down path{
  stroke: var(--white-color);
}

.sub-menu__link:hover {
  color: var(--violet);
}

.sub-menu__link:hover path{
  stroke: var(--violet);
}

.sub-menu__link--active {
  color: var(--dark-violet);
}

.sub-menu__icon--active {
  transform: rotate(180deg);
  top: 7px;
}

.sub-menu__icon--active path {
  stroke: var(--dark-violet);
}

/* drop-down-menu BEGIN */

.sub-menu__item {
  position: relative;
}

.drop-down-menu {
  height: 300px;
  width: 300px;  
  position: absolute;
  left: 0;
  top: 44px;
  overflow: hidden;
}

.drop-down-menu__content {
  display: flex;
  padding: 38px 19px 40px 40px;
  align-items: center;
  height: 300px;
  width: 300px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 500ms ease-in-out; 
  transform: translateY(-100%);  
}

.drop-down-menu__list {
  display: block;
  padding: 2px 0 2px 2px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.drop-down-menu__link {
  margin-bottom: 19px;
  padding-top: 11px;
  padding-left: 14px;
  display: inline-block;
  height: 40px;
  width: 220px;
  background-size: contain;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.drop-down-menu__link--img1 {
  background-image: url(/img/ddmenu1.jpg);
}

.drop-down-menu__link--img2 {
  background-image: url(/img/ddmenu2.jpg);
}

.drop-down-menu__link--img3 {
  background-image: url(/img/ddmenu3.jpg);
}

.drop-down-menu__link:focus-visible {
  outline-offset: 0;
}

.drop-down-menu__link:hover {
  outline: 2px solid var(--violet)
}

.drop-down-menu__link:active {
  border: 2px solid var(--lilac);
}

.drop-down-menu__link--img1:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/ddmenu1.jpg);
}

.drop-down-menu__link--img2:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/ddmenu2.jpg);
}

.drop-down-menu__link--img3:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/ddmenu3.jpg);
}

.drop-down-menu__content.is-active-dd {
  transform: none;
}

/* simplebar BEGIN */

.simplebar-scrollbar {
  background-color: var(--violet);
}

.simplebar-scrollbar:before {
  display: none;
}

.simplebar-track {
  background: black;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 2px;
}

/* simplebar END */
/* drop-down-menu END */

.input-reset {
  border: none;
  background: transparent;
}

.search-form {
  display: flex;
  align-items: flex-end;
}

.search-form__icon {
  margin-right: 10px;
  width: 23px;
  height: 22px;
}

.search-input {
  padding-left: 0;
  padding-bottom: 5px;
  width: 220px;
  border-bottom: 1px solid white;
  color: var(--light-violet);
}

.no-outline:focus-visible {
  outline: none;
} 

.search-form__icon:hover ~ .search-input,
.search-input:hover {
  border-color: var(--light-violet);
}

.search-form:focus-within .search-form__icon path,
.search-form:focus-within .search-form__icon rect,
.search-form:hover .search-form__icon path,
.search-form:hover .search-form__icon rect {
  fill: var(--light-violet);
}

.search-form__icon:focus-visible:not(.search-form:focus-within) path,
.search-form__icon:focus-visible:not(.search-form:focus-within) rect {
  fill: var(--white-color);  
}

.search-input::placeholder {
  padding-bottom: 10px;
  color: var(--white-color);
}

/* hero */

.hero {
  position: relative;
  min-height: 800px;
  color: var(--white-color); 

  overflow: hidden;
}

.hero__background {
  position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
}

.hero__background img {
  width: 100%;
  height: 100%;
	transform-origin: bottom right;
	animation: grow 15000ms ease infinite;
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__slider .swiper-slide {
  width: 100%;
  height: 100%;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.hero__content {
  position: absolute;

  z-index: 4;
  max-width: 30%; /*(36%)*/
  font-size: 18px;
}

.hero__heading {
  padding-top: 240px;
  font-weight: 700;
  font-size: 4em;
  line-height: 85px;
}

.hero__description {
  margin-bottom: 91px;
  font-weight: 700;
  font-size: 1em;
  line-height: 30px;
}

/* about */

.about {
  padding-top: 85px;
}

.section-description {
  margin: 0;  
  margin-bottom: 71px;
  max-width: 67.5%;
  line-height: 32px;  
}

/* gallery */

.gallery {
  padding-top: 86px;
  padding-bottom: 81px;
  background-image: url(../img/birmingham-museums-gallery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
}

.gallery__container {
  display: flex;
  width: 100%;
}

.gallery__left-content {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  width: 28%;
  height: inherit;
}

.gallery__heading {
  margin-bottom: 12px;
  align-items: flex-start;
}

.filter__name {
  font-weight: 600;
}

.gallery__description {
 margin-top: auto;
 transform: translateY(11px);
 max-width: 90%;
 line-height: 32px;
}

/* gallery choices  BEGIN */

.choices { 
  width: 100%;
  height: 39px;
  border-radius: 6px;
  color: var(--white-color);
}

.choices__inner {
  min-height: 39px;
  height: 39px;
  border: none;
  background: transparent;
}

.choices__list--dropdown {
  margin-top: 1px;
  box-sizing: content-box;
  top: 100%;
  left: -1px;
  border-radius: 6px;
}

.choices[data-type*=select-one] {
  border: 1px solid var(--white-color);
}

.choices[data-type*=select-one]::after {
  content: url(/img/ArrowDown.svg);
  transition: transform 0 ease-in-out;
  transform: rotate(180deg);
  position: absolute;
  right: 15px;
  top: 32px; 
  border: none;
  z-index: 3; 
}

.choices[data-type*=select-one].is-open::after {
  content: url(/img/ArrowDown.svg); 
  transform: rotate(0);
  position: absolute;
  right: 27px;
  top: 17px;
  border: none;
}

.choices__list--single {
  padding: 4px 0 5px 8px;
  background-color: transparent;
}

.choices__list.choices__list--dropdown.is-active {
  border-color: #999;
  color: #999;
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(194, 131, 243, 0.4);
} 

.choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #999;
} 

.is-open .choices__inner {
  border-radius: 6px;
  background-color: transparent;
} 

.is-selected {
  display: none;
}

/* gallery choices END */

.gallery__right-content {
  width: 72%;
}

.switch {
  display: flex;
  align-items: center;
}

.gallery__switch {
  padding-top: 17px;
  margin-bottom: 31px;
}

.pages__switch {
  width: 30px;
  height: 30px;
}

.pages__switch:focus-visible {
  outline: none;
}

.pages__switch:focus-visible path:nth-child(1) {
  stroke: var(--violet);
  stroke-width: 2px;
}

.pages__switch--icon {
  width: 30px;
  height: 30px;
}

.pages__switch:hover path:nth-child(1) {
  fill: var(--violet);
  stroke: var(--violet);
  stroke-width: 2px;
}

.pages__switch:hover path:nth-child(2) {
  stroke: var(--white-color);
}

.pages__switch:active path:nth-child(1) {
  fill: var(--dark-violet);
  stroke: var(--light-violet);
  stroke-width: 2px;
}

.pages__switch:active path:nth-child(2) {
  stroke: var(--white-color);
}

.gallery__switch--prev {
  margin-right: 22px;
}

.gallery__switch--next {
  margin-left: 22px;
}

.gallery__slider {
  position: relative;
  width: 100%;
  max-height: 750px;
  height: 750px;
}

.gallery__slide {
  width: 30%;
  max-width: 350px;
  max-height: 350px;
  height: calc((100% - 50px) / 2);
}

.gallery__img {
  width: 100%;
  max-height: 350px;
}

/* catalog */

.catalog {
  padding-top: 83px;
  padding-bottom: 50px;
}

.catalog__header {
  margin-bottom: 12px;
  display: flex;
  height: 66px;
  align-items: center;
}

.catalog__heading {
  padding-top: 15px;
  margin-right: 40px;
  display: inline-flex;
}

.flags-list {
  display: flex;
}

.flags-list__item {
  height: 100%;
}

.flags-list__item:not(:last-child) {
  margin-right: 50px;
}

.flags-list__link {
  width: 46px;
  height: 46px;
  display: inline-block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flags-list__link:hover:not(:focus):not(:active):not(.flags-list__link--active) {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.flags-list__link:active:not(.flags-list__link--active) {
  border: 2px solid var(--violet);
  border-radius: 100px;
}

.flags-list__link--active::after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--violet);
}

.flags-list__link:focus-visible {
  outline: none;
}

.flags-list__link:focus-visible:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--dark-violet);
}

.flags-list__link--france {
  background-image: url(/img/fr.svg);
}

.flags-list__link--germany {
  background-image: url(/img/ger.svg);
}

.flags-list__link--italy {
  background-image: url(/img/it.svg);
}

.flags-list__link--russia {
  background-image: url(/img/rus.svg);
}

.flags-list__link--belgium {
  background-image: url(/img/bel.svg);
}

.catalog__description {
  margin-bottom: 40px;
}

.catalog__content {
  display: flex;
}

.painter-info {
  margin-right: 45px;
  flex-basis: 47%;
}

.painter-info__portrait {
  margin-bottom: 27px;
  max-height: 470px;
  width: 100%;
  overflow: hidden;
}

.painter-info__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter-info__dates {
  margin-bottom: 8px;
  font-size: 12.5px;
  line-height: 1; 
  color: #999; 
}

.painter-info__description {
  line-height: 32px;
}

.catalog__right-content {
  width: 50.5%;
}

/* catalog accordion BEGIN */

.ui-widget-content a {
  color: var(--dark-color); 
}

.ui-icon-triangle-1-e,
.ui-icon-triangle-1-s {
  display: none;
}

.ui-accordion-header-active {
  border-bottom: none;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0 30px 4px;
  max-height: 343px;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--violet);
  border-bottom: 1px solid var(--violet);
  font-family: 'OpenSans', sans-serif;
  line-height: 32px;
  font-weight: 400;
  font-size: 16px; 
  overflow-x: scroll; 
}

.ui-accordion-content-active {
  margin-bottom: 1px;
  border-bottom: 1px solid var(--violet);  
}

.ui-accordion .ui-accordion-header { 
  margin: -1px 0 0 0;
  display: flex;
  align-items: center;
  /* padding: 29px 0 33px 5px; */
  padding: 42px 0 48px 5px;
  font-family: 'OpenSans', sans-serif;
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

.ui-corner-top,
.ui-corner-all,
.ui-corner-bottom {
  border-radius: 0;
  border-left: none; 
  border-right: none;
  background: transparent;
}

.ui-corner-all:hover {
  color: var(--violet);
  border-top: 1px solid var(--violet);
  z-index: 2;
}

.ui-corner-all:hover path {
  fill: var(--violet);
  stroke: var(--white-color);
}

.ui-corner-all:active {
  color: var(--dark-violet);
  border-top: 1px solid var(--dark-violet);
  border-bottom: 1px solid var(--dark-violet);
}

.ui-corner-all:active path {
  fill: var(--dark-violet);
  stroke: var(--white-color);
}

.ui-corner-all:active path:nth-child(1) {
  stroke: var(--light-violet);
  stroke-width: 2px;
}

/* .ui-corner-top {
  background-color: red;
}

.ui-corner-all {
  background-color: green;
}

.ui-corner-bottom {
  background-color: blue;
} */

.arrow {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 29px;
}

.violet-link,
.ui-widget-content .dates__link--active {
  font-weight: 600;
  color: var(--violet);
}

.violet-link:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--violet);
}

.violet-link:active {
  color: var(--dark-violet);
  border-color: var(--dark-violet);
}

.dates__link:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--violet); 
  font-weight: 600;
  color: var(--violet); 
}

.dates__link:active {
  color: var(--dark-violet);
  font-weight: 600;
  border: none;
}

.dates__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.dates__list-column {
  min-width: 258px;
}

/* catalog accordion END */

/* events */

.events {
  padding-top: 38px;
  padding-bottom: 80px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.events__heading {
  margin-bottom: 18px;
}

.event {
  margin-bottom: 50px;
  position: relative;
  flex-basis: 31.3%;
  border: 1px solid #CACACA;
}

.event__where,
.event__when {
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999;
}

.event__when {
  margin-bottom: 4px;
}

.event__content {
  min-height: 400px;
  padding: 13px 18px 20px 52px;
  width: 100%;
} 

figure {
  margin: 0;
}

.event__img {
  width: 100%;
  height: 300px;
}

.event__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event:not(:nth-child(3n)) {
  margin-right: 3%;
}

.event__heading {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.event__short-descr {
  padding-right: 25px;
  margin-bottom: 40px;
  line-height: 32px;
  overflow: hidden;
}

.event__detail {
  padding-bottom: 5px;
  display: inline-block;
  position: absolute;
  left: 52px;
  bottom: 44px;
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
}

.event__detail:hover {
  font-weight: 700;
}

.event__detail:active {
  color: var(--dark-violet);
  border-bottom: 1px solid var(--dark-violet);
}

.event__detail-descr {
  display: none;
}

.events__btn {
  margin-right: auto;
  margin-left: auto;
}

.display-none {
  display: none;
}

/* publications */

.publications {
  padding-top: 86px;
  padding-bottom: 77px;
  background-image: url(../img/birmingham-museums-publications.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
}

.publications__container {
  display: flex;
  width: 100%;
}

.publications__left-content {
  padding-right: 50px;
  width: 28%;
  height: 100%;
}

.publications__heading {
  margin-bottom: 27px;
}

/* checkbox BEGIN */

.checkbox-container-header {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.check-list {
  margin-bottom: 41px;
}

.check-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + .label-for-checkbox {
  display: inline;
  user-select: none;
  cursor: pointer;
}

.custom-checkbox + .label-for-checkbox::before {
  content: '';
  display: inline-block;
  margin-right: 13px;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--white-color);
}

.custom-checkbox:checked + .label-for-checkbox::before {
  border-color: var(--light-violet);
  color: var(--light-violet);
  opacity: 1;
  content: ''; 
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/checked.svg');
}

.custom-checkbox:checked ~ .label-for-checkbox  {
  color: var(--light-violet);
}

.custom-checkbox:focus-visible + .label-for-checkbox {
  outline: 2px solid var(--dark-violet);
  outline-offset: 2px;
}

.custom-checkbox:hover + .label-for-checkbox {
  color: var(--light-violet);
}

.custom-checkbox:hover + .label-for-checkbox::before {
  border-color: var(--light-violet);
}

.custom-checkbox:active + .label-for-checkbox {
  color: var(--dark-violet);
}

.custom-checkbox:active + .label-for-checkbox::before {
  border-color: var(--dark-violet);
}

/* checkbox END */

.price-filter__heading {
  margin-bottom: 14px;
  font-weight: 600;
}

.price-filter__range {
  display: flex;
  align-items: center;
  height: 40px;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price-filter__label {
  width: 15%;
  text-align: center;
}

.price-filter__input::placeholder {
  color: var(--white-color);
}

.price-filter__input {
  padding-left: 8px;
  width: 25%;
  height: 100%;
  background: rgba(157, 92, 208, 0.5);
  border: none;
  color: var(--white-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.publications__right-content {
  width: 72%;
}

.publications__switch {
  padding-top: 27px;
  margin-bottom: 31px;
}

.publications__slider {
  position: relative;
  width: 100%;
  max-height: 512px;
}

.publications__slide {  
  width: 30%;
  max-width: 350px;
  height: 100%;
}

.publications__switch--prev {
  margin-right: 20px;
}

.publications__switch--next {
  margin-left: 20px;
}

.publication__img {
  margin-bottom: 12px;
  width: 100%;
  max-height: 390px;
}

.publication__content {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 13px 0 20px 3px;
  width: 100%;
} 

.publication__info {
  width: 70%;
}

.publication__name {
  margin-bottom: 4px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publication__price {
  font-style: italic;
}

.publication__btn {
  padding: 9px 18px;
  margin-left: 5px;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: var(--white-color);
} 

/* projects */

.projects {
  padding-top: 87px;
  padding-bottom: 30px; 
}

.projects__description {
  margin-bottom: 19px;
  display: inline-block;
  max-width: 65%;   
}

.tooltip {
  display: inline-block;
  position: relative;
}

.marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--violet);
  color: var(--white-color);
  cursor: pointer;
}

.popup {
  position: absolute;
  padding: 10px 5px 20px 5px;
  right: -113px;
  bottom: 100%;  
  width: 242px;
  min-height: 42px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 53% 85%, 50% 100%, 47% 85%, 0 85%);
  background: #CACACA;
  color: var(--white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.popup--big {
  width: 264px;
  right: -125px;
}

.marker:hover + .popup,
.marker:focus + .popup {
  opacity: 1;
}

.partners__heading {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.partners__slider-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.partners__slider {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 91%;
  max-height: 150px;
}

.partners__slide {  
  width: 30%;
  max-width: 450px;
  height: 150px;
}

.partners__link {
  display: inline-block;
  width: 100%;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.partners__link:focus-visible {
  outline: none;
}

.partners__link--p1 {
  background-image: url(/img/p1.png);
}

.partners__link--p1:hover,
.partners__link--p1:focus,
.partners__link--p1:active {
  background-image: url(/img/p1c.png);
}

.partners__link--p2 {
  background-image: url(/img/p2.png);
}

.partners__link--p2:hover,
.partners__link--p2:focus,
.partners__link--p2:active {
  background-image: url(/img/p2c.png);
}

.partners__link--p3 {
  background-image: url(/img/p3.png);
}

.partners__link--p3:hover,
.partners__link--p3:focus,
.partners__link--p3:active {
  background-image: url(/img/p3c.png);
}

.partners__link--p4 {
  background-image: url(/img/p4.png);
}

.partners__link--p4:hover,
.partners__link--p4:focus,
.partners__link--p4:active {
  background-image: url(/img/p4c.png);
}

.partners__link--p5 {
  background-image: url(/img/p5.png);
}

.partners__link--p5:hover,
.partners__link--p5:focus,
.partners__link--p5:active {
  background-image: url(/img/p5c.png);
}

.partners__link--p6 {
  background-image: url(/img/p6.png);
}

.partners__link--p6:hover,
.partners__link--p6:focus,
.partners__link--p6:active {
  background-image: url(/img/p6c.png);
}

.partners__link--p7 {
  background-image: url(/img/p7.png);
}

.partners__link--p7:hover,
.partners__link--p7:focus,
.partners__link--p7:active {
  background-image: url(/img/p7c.png);
}

.partners__link--p8 {
  background-image: url(/img/p8.png);
}

.partners__link--p8:hover,
.partners__link--p8:focus,
.partners__link--p8:active {
  background-image: url(/img/p8c.png);
}

.partners__link--p9 {
  background-image: url(/img/p9.png);
}

.partners__link--p9:hover,
.partners__link--p9:focus,
.partners__link--p9:active {
  background-image: url(/img/p9c.png);
}

/* contacts */

.contacts {
  padding-top: 55px;
  min-height: 781px;
}

.contacts__content {
  display: flex;
  min-height: 700px;
} 

.contacts__left-content {
  padding-left: calc(calc(100vw - 1600px) / 2); 
  padding-top: 127px;
  flex-basis: 35.5%;
  border: 1px solid #999;
}

address {
  font-style: normal;
}

.contacts__addr {
  margin-bottom: 39px;
}

.contacts__name {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}

.back-call-form {
  display: flex;
  width: 77%;
  flex-direction: column;
  align-items: flex-start;
}

.back-call-form__heading {
  margin-bottom: 20px;
}

.contacts__form {
  margin-bottom: 40px;
}

.back-call-form__heading {
  font-size: 24px;  
}

.back-call-form__input {
  margin-bottom: 22px;
  padding-left: 23px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--dark-color);
  border-radius: 100px;
  color: #999;
  line-height: 1;
}

.connect-one-click {
  font-size: 24px;  
}

.connect-one-click__list {
  display: flex;
}

.connect-one-click__link {
  width: 42px;
  height: 42px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.connect-one-click__item {
  margin-top: 18px;
}

.connect-one-click__item:not(:last-child) {
  margin-right: 19px;
}

.connect-one-click__link--whatsup {
  background-image: url(/img/Whatsapp-Icon.svg);
}

.connect-one-click__link--telegram {
  background-image: url(/img/Telegram_2019_Logo.svg);
}

.contacts__right-content {
  flex-basis: 64.5%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */

.footer {
  height: 140px;
  background-color: #000;
}

.footer__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 17px;
}

.social__link {
  width: 45.4px;
  height: 45.4px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__link--vk {
  background-image: url(/img/vk.svg);
}

.social__link--instagram {
  background-image: url(/img/instagram.svg);
}

.social__link--fb {
  background-image: url(/img/fb.svg);
}


@media (max-width: 1600px) {

  html {
    font-size: 14px;
  }  

  header {
    font-size: 16px;
  } 

  .header-main__logo {
    margin-right: 110px;
  }
  
  .nav {
    min-width: 750px;
  }

  .hero {
    min-height: 700px;
  }

  .hero__content {
    /* max-width: 50%; */
    max-width: 35%;
    font-size: 14px;
  }

  .hero__heading {
    padding-top: 220px;
    line-height: 70px;
  }
  
  .hero__description {
    margin-bottom: 50px;
  }

  .sub-menu {
    min-width: 850px;
  }

  .gallery__slider {
    max-height: 700px;
    height: 700px;
  }

  .contacts__left-content {
    padding-left: 15px; 
  }

  .event__detail {
    bottom: 20px;
  }

  .price-filter__input {
    padding-left: 4px;
  }
}