:root {
  --white-color: #fff;
  --dark-color: #333;
  --violet: #9D5CD0;
  --dark-violet: #7943A4;
  --light-violet: #C283F3;
  --lilac: #D1A9F0;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.class-for-body {
  overflow: hidden;
}

.md-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.md-content {
  display: flex;
  height: 100%;
}

.md-alert__content {
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.md-content__left {
  width: 45%;
  height: 100%;
}

.md-content__right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.modal-paint-info {
  width: 85%;
  height: 55%;
  overflow-y: auto;
}

.painter-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px
}

.paint {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.paint-dates {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.paint-description {
  font-size: 16px;
  line-height: 32px;
}

.md-modal { 
  margin: 0 auto;
  position: relative;
	width: 70%;
	max-width: 900px;
	min-width: 290px;
  max-height: 85vh;
  height: 500px;
	visibility: hidden;
  background: var(--white-color);
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.md-alert {
	width: 60%;
  height: 150px;  
	min-width: 200px;
  max-height: 150px;
}

.md-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show {
  opacity: 1;
	visibility: visible;
}

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-overlay .md-show .md-effect-12 {
  background-color: rgba(0, 0, 0, .5);  
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.paint-info,
.search-form-mobile,
.nav-burger,
.search-btn, 
.search-btn--visible,
.checkbox-container-header__arrow-down,
.checkbox-btn-close,
.checkbox-btn-close--visible,
.events-pagination,
.nav-btn-close,
.log-in__icon--mobile {
  display: none;
}

.swiper-button-disabled {
  pointer-events: none; 
  cursor: default;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible :focus {
  outline: 2px solid var(--dark-violet);
  outline-offset: 2px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 23px 32px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--violet);
  border: 3px solid var(--violet);
  border-radius: 100px;
  cursor: pointer;
  transition-property: border-color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.transparent-btn:focus,
.btn:focus {
  outline: none;
}

.transparent-btn:focus:not(:focus-visible),
.btn:focus:not(:focus-visible) {
  outline: none;
}

.transparent-btn:focus::after,
.btn:focus::after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--light-violet);
}

.transparent-btn:focus:not(:focus-visible)::after,
.btn:focus:not(:focus-visible)::after {
  content: '';
  border: none;
}

.btn:hover {
  border-color: var(--lilac);
}

.btn:active {
  border-color: var(--lilac);
  background-color: var(--dark-violet);
}

.transparent-btn {
  display: block;
  position: relative;
  padding: 17px 35px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  border: 3px solid var(--violet);
  border-radius: 100px;
  background-color: transparent;
  color: var(--violet);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.transparent-btn:hover {
  background-color: var(--violet);
  color: var(--white-color);
}

.transparent-btn:active {
  border-color: var(--lilac);
  background-color: var(--dark-violet);
  color: var(--white-color);
}

.section-heading {
  margin-bottom: 20px;
  font-size: 3em;
}

/* header */

header {
  color: var(--white-color);
  font-size: 18px;
}

.header-main {  
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0; 
  width: 100%;
  background-color: #000; 
}

.nav-wrapper {
  display: contents;
}

.header-sub {
  position: absolute;
  padding: 21px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .4)
}

.header-main__container {
  display: flex;
  padding-top: 27px;
  padding-bottom: 30px;
  align-items: center;
}

.header-main__logo {
  margin-right: 180px;
}

.nav-list {
  display: flex;
  font-weight: 600;
}

.nav-item:not(:last-child) {
  margin-right: 62px;
}

.nav-link {
  transition: color .3s ease;
}

.nav-link:hover {
  color: var(--light-violet);
}

.nav-link:active {
  color: var(--dark-violet);
}

.log-in {
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: color .3s ease;
}

.log-in__icon {
  margin-right: 4px;
  width: 16px;
  height: 13px;
}

.log-in:hover {
  color: var(--light-violet);  
}

.log-in:hover .log-in__icon path  { 
  fill: var(--light-violet); 
}

.log-in:active {
  color: var(--violet);  
}

.log-in__icon path {
  transition: fill .3s ease;
}

.log-in:active .log-in__icon path  { 
  fill: var(--violet); 
}

.header-sub__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.sub-menu {
  display: flex;
}

.sub-menu__link {
  padding-right: 20px;
  padding-left: 0;
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: transparent;
  color: var(--white-color);
  cursor: pointer;
  transition: color .3s ease;
}

.sub-menu__item:not(:last-child) {
  margin-right: 93px;
}

.sub-menu__icon--arrow-down {
  position: absolute;
  right: 6px;
  top: 5px;
  width: 12px;
  height: 11px;
}

.sub-menu__icon--arrow-down path {
  stroke: var(--white-color);
}

.sub-menu__link path {
  transition: stroke .3s ease;  
}

.sub-menu__link:hover {
  color: var(--violet);
}

.sub-menu__link:hover path {
  stroke: var(--violet);
}

.sub-menu__link--active {
  color: var(--dark-violet);
}

.sub-menu__icon--active {
  transform: rotate(180deg);
  top: 8px;
}

.sub-menu__icon--active path {
  stroke: var(--dark-violet);
}

/* drop-down-menu BEGIN */

.sub-menu__item {
  position: relative;
}

.drop-down-menu {
  height: 10px;
  max-height: 300px;
  width: 300px;  
  position: absolute;
  left: 0;
  top: 44px;
  overflow: hidden;
  transition: height 500ms ease-in-out;
}

.drop-down-menu__content {
  display: flex;
  padding: 38px 19px 40px 40px;
  align-items: center;
  max-height: 300px;
  width: 300px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 500ms ease-in-out;   
  transform: translateY(-100%);  
}

.drop-down-menu__list {
  display: block;
  padding: 2px 0 2px 2px;
  width: 100%;
  max-height: 221px;
}

.drop-down-menu__item:not(:last-child) {
  margin-bottom: 19px;
}

.drop-down-menu__link {
  padding-top: 11px;
  padding-left: 14px;
  display: inline-block;
  height: 40px;
  width: 220px;
  background-size: contain;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.drop-down-menu__link--img1 {
  background-image: url(../img/ddmenu1.jpg);
}

.drop-down-menu__link--img2 {
  background-image: url(../img/ddmenu2.jpg);
}

.drop-down-menu__link--img3 {
  background-image: url(../img/ddmenu3.jpg);
}

.drop-down-menu__link:focus:not(:focus-visible) {
  outline: none;
}

.drop-down-menu__link:focus {
  outline-offset: 0;
}

.drop-down-menu__link:hover {
  outline: 2px solid var(--violet);
}

.drop-down-menu__link:active {
  border: 2px solid var(--lilac);
  outline: none;
}

.drop-down-menu__link--img1:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/ddmenu1.jpg);
}

.drop-down-menu__link--img2:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/ddmenu2.jpg);
}

.drop-down-menu__link--img3:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/ddmenu3.jpg);
}

.drop-down-menu__content.is-active-dd {
  transform: none;
  opacity: 1;
}

.drop-down-menu.is-active-ddm {
  height: 300px;
}

/* simplebar BEGIN */

.simplebar-scrollbar {
  background-color: var(--violet);
}

.simplebar-scrollbar:before {
  display: none;
}

.simplebar-track {
  background: black;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 2px;
}

/* simplebar END */
/* drop-down-menu END */

.input-reset {
  border: none;
  background: transparent;
}

.search-form {
  display: flex;
  align-items: flex-end;
}

.search-form__btn {
  margin-right: 10px;
  padding: 0;
  width: 23px;
  height: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-input {
  padding-left: 0;
  width: 220px;
  border-bottom: 1px solid white;
  color: var(--light-violet);
  line-height: 1;
  transition: border-color .3s ease;
}

.no-outline:focus-visible {
  outline: none;
} 

.search-form:hover .search-input {
  border-color: var(--light-violet);  
}

.search-form .search-form__btn path,
.search-form .search-form__btn rect {
  transition: fill .3s ease;
}

.light-violet-icon path,
.light-violet-icon rect,
.search-form:hover .search-form__btn path,
.search-form:hover .search-form__btn rect {
  fill: var(--light-violet);
}

.search-input::placeholder {
  padding-bottom: 10px;
  color: var(--white-color);
  line-height: 1;
}

/* hero */

.hero {
  position: relative;
  color: var(--white-color); 
  overflow: hidden;
}

.hero__background {
  position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
  width: 100%;
}

.hero__background img {
  width: 100%;
  height: 100%;
	transform-origin: bottom right;
	/* animation: grow 15000ms ease infinite; */
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
	animation: grow 15000ms ease infinite;
}

.hero__slider .swiper-slide {
  width: 100%;
  height: 100%;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.hero__slide--1 {
  background-image: url(../img/birmingham-museums-hero1.jpg);
}

.hero__slide--2 {
  background-image: url(../img/birmingham-museums-hero2.jpg);
}

.hero__slide--3 {
  background-image: url(../img/birmingham-museums-hero3.jpg);
}

.hero__content {
  position: relative;
  padding-top: 242px;
  padding-bottom: 122px;
  max-width: 36%; 
  font-size: 18px;
  user-select: text;
  z-index: 2;
}

.hero__heading {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 4em;
  line-height: 85px;
}

.hero__description {
  margin-bottom: 91px;
  font-weight: 700;
  font-size: 1em;
  line-height: 30px;
}

/* about */

.about {
  padding-top: 85px;
  padding-bottom: 72px;
}

.section-description {
  margin: 0;  
  max-width: 67.5%;
  line-height: 32px;  
}

/* gallery */

.gallery {
  padding-top: 86px;
  padding-bottom: 81px;
  background-image: url(../img/birmingham-museums-gallery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
}

.gallery__container {
  display: flex;
  width: 100%;
}

.gallery__left-content {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  width: 28%;
  height: inherit;
}

.gallery__heading {
  margin-bottom: 27px;
  align-items: flex-start;
}

.filter__name {
  margin-bottom: 17px;
  font-weight: 600;
}

.gallery__description {
 margin-top: auto;
 transform: translateY(11px);
 max-width: 90%;
 line-height: 32px;
}

.gallery__description-undo {
  display: none;
}

/* gallery choices  BEGIN */

.choices:focus:not(:focus-visible) {
  outline: none;
}

.choices:focus {
  outline: 2px solid var(--violet);
}

.choices { 
  width: 100%;
  height: 39px;
  border-radius: 6px;
  color: var(--white-color);
}

.choices__inner {
  min-height: 39px;
  height: 39px;
  border: none;
  background: transparent;
}

.choices__list--dropdown {
  margin-top: 1px;
  box-sizing: content-box;
  top: 100%;
  left: -1px;
  border-radius: 6px;
}

.choices[data-type*=select-one] {
  border: 1px solid var(--white-color);
}

.choices[data-type*=select-one]::after {
  content: url(../img/ArrowDown.svg);
  transform: rotate(180deg);
  position: absolute;
  right: 15px;
  top: 32px; 
  border: none;
  z-index: 3; 
}

.choices[data-type*=select-one].is-open::after {
  content: url(../img/ArrowDown.svg); 
  transform: rotate(0);
  position: absolute;
  right: 27px;
  top: 17px;
  border: none;
}

.choices__list--single {
  padding: 4px 0 5px 8px;
  background-color: transparent;
}

.choices__list.choices__list--dropdown.is-active {
  border-color: #999;
  color: #999;
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(194, 131, 243, 0.4);
} 

.choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #999;
} 

.is-open .choices__inner {
  border-radius: 6px;
  background-color: transparent;
} 

.is-selected {
  display: none;
}

/* gallery choices END */

.gallery__right-content {
  width: 72%;
}

.switch {
  display: flex;
  align-items: center;
}

.gallery__switch {
  padding-top: 17px;
  margin-bottom: 31px;
}

.reset-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.pages__switch {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.pages__switch:focus {
  outline: none;
}

.pages__switch:focus:not(:focus-visible) {
  outline: none;
}

.pages__switch:focus:not(:focus-visible):not(:active) path:nth-child(1) {
  stroke: none;
}

.pages__switch:focus path:nth-child(1) {
  stroke: var(--violet);
  stroke-width: 2px;
}

.pages__switch--icon {
  width: 30px;
  height: 30px;
}

.pages__switch path {
  transition-property: fill, stroke;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.pages__switch:hover path:nth-child(1) {
  fill: var(--violet);
  stroke-width: 2px;
}

.pages__switch:hover path:nth-child(2) {
  stroke: var(--white-color);
}

.pages__switch:active path:nth-child(1) {
  fill: var(--dark-violet);
  stroke: var(--light-violet);
  stroke-width: 2px;
}

.pages__switch:active path:nth-child(2) {
  stroke: var(--white-color);
}

.gallery__switch--prev {
  margin-right: 22px;
}

.gallery__switch--next {
  margin-left: 22px;
}

.gallery__slider {
  position: relative;
  width: 100%;
  max-height: 750px;
  height: 750px;
}

.gallery__slide {
  width: 30%;
  max-width: 350px;
  max-height: 350px;
  height: calc((100% - 50px) / 2); 
}

.gallery__img {
  padding: 2px;
  width: 100%;
  max-height: 350px;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 4px;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  transition: all .3s ease;
}

.gallery__img:active::before {
  opacity: 1;
}

.picture:focus:not(:focus-visible) {
  outline: none;
}

.picture:focus {
  outline-offset: 0;
  outline: 2px solid var(--violet);
}

.box-for-bg {
  pointer-events: all;
}

.box-for-bg::before { 
  content: ''; 
  position: absolute; 
  top: 6%; 
  left: 6%; 
  bottom: 7%;
  right: 6%;
  background: rgba(0,0,0,.5); 
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
  opacity: 0; 
  transition: opacity .3s ease;
}

.box-for-bg::after { 
  content: ''; 
  position: absolute; 
  top: calc(50% - 40px); 
  left: calc(50% - 40px); 
  width: 81px;
  height: 79px;
  background: url(../img/lupa.svg);
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 0; 
  transition: opacity .3s ease;
}

.box-for-bg:active::after,
.box-for-bg:hover::before,
.box-for-bg:hover::after { 
  opacity: 1; 
}

.gallery__img:active .picture {
  border: 2px solid var(--lilac);
}

.box-for-bg:active::before {
  opacity: 1;
  border: none;
  box-sizing: border-box;
} 

/* catalog */

.catalog {
  padding-top: 83px;
  padding-bottom: 50px;
}

.catalog__header {
  margin-bottom: 12px;
  display: flex;
  height: 66px;
  align-items: center;
}

.catalog__heading {
  padding-top: 15px;
  margin-right: 40px;
  display: inline-flex;
}

.flags-list {
  display: flex;
}

.flags-list__item {
  height: 100%;
}

.flags-list__item:not(:last-child) {
  margin-right: 50px;
}

.flags-list__link {
  width: 46px;
  height: 46px;
  display: inline-block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flags-list__link:hover:not(:focus):not(:active):not(.flags-list__link--active) {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.flags-list__link:active:not(.flags-list__link--active) {
  border: 2px solid var(--violet);
  border-radius: 100px;
}

.flags-list__link--active::after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--violet);
}

.flags-list__link:focus {
  outline: none;
}

.flags-list__link:focus:not(:focus-visible) {
  outline: none;
}

.flags-list__link:focus:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--dark-violet);
}

.flags-list__link:focus:not(:focus-visible):not(.flags-list__link--active)::after {
  content: '';
  border: none;
}

.flags-list__link--france {
  background-image: url(../img/fr.svg);
}

.flags-list__link--germany {
  background-image: url(../img/ger.svg);
}

.flags-list__link--italy {
  background-image: url(../img/it.svg);
}

.flags-list__link--russia {
  background-image: url(../img/rus.svg);
}

.flags-list__link--belgium {
  background-image: url(../img/bel.svg);
}

.catalog__description {
  margin-bottom: 40px;
}

.catalog__content {
  display: flex;
}

.painter-info {
  margin-right: 45px;
  flex-basis: 47%;
}

.painter-info__portrait {
  margin-bottom: 27px;
  max-height: 470px;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
}

.painter-info__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter-info__dates {
  margin-bottom: 8px;
  font-size: 12.5px;
  line-height: 1; 
  color: #999; 
}

.painter-info__description {
  line-height: 32px;
}

.catalog__right-content {
  width: 50.5%;
}

/* catalog accordion BEGIN */

.ui-widget-content a {
  color: var(--dark-color); 
}

.ui-icon-triangle-1-e,
.ui-icon-triangle-1-s {
  display: none;
}

.ui-accordion-header-active {
  border-bottom: none;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0 30px 4px;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--violet);
  border-bottom: 1px solid var(--violet);
  font-family: 'OpenSans', sans-serif;
  line-height: 32px;
  font-weight: 400;
  font-size: 16px; 
  overflow-x: auto; 
}

.ui-accordion-content-active {
  margin-bottom: 1px;
  border-bottom: 1px solid var(--violet);  
}

.ui-accordion .ui-accordion-header { 
  margin: -1px 0 0 0;
  display: flex;
  align-items: center;
  padding: 42px 0 48px 5px;
  font-family: 'OpenSans', sans-serif;
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

.ui-corner-top,
.ui-corner-all,
.ui-corner-bottom {
  border-radius: 0;
  border-left: none; 
  border-right: none;
  background: transparent;
}

.ui-corner-all {
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.ui-corner-all:hover {
  color: var(--violet);
  border-top: 1px solid var(--violet);
  z-index: 2;
}

.ui-corner-all path {
  transition-property: fill, stroke;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.ui-corner-all:hover path {
  fill: var(--violet);
  stroke: var(--white-color);
}

.ui-corner-all:active {
  color: var(--dark-violet);
  border-top: 1px solid var(--dark-violet);
  border-bottom: 1px solid var(--dark-violet);
}

.ui-corner-all:active path {
  fill: var(--dark-violet);
  stroke: var(--white-color);
}

.ui-corner-all:active path:nth-child(1) {
  stroke: var(--light-violet);
  stroke-width: 2px;
}

.arrow {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 29px;
}

.violet-link,
.ui-widget-content .dates__link--active {
  text-shadow: 1px 0 0 var(--violet);
  color: var(--violet);
}

.violet-link:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--violet);
}

.violet-link:active {
  color: var(--dark-violet);
  border-color: var(--dark-violet);
}

.dates__link:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--violet); 
  text-shadow: 1px 0 0 var(--violet);
  color: var(--violet); 
}

.dates__link:active {
  color: var(--dark-violet);
  text-shadow: 1px 0 0 var(--violet);
  border: none;
}

.dates__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.dates__list-column {
  min-width: 258px;
}

/* catalog accordion END */

/* events */

.events {
  padding-top: 31px;
  padding-bottom: 80px;
}

.events__list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.events__heading {
  margin-bottom: 18px;
}

.event {
  margin-bottom: 46px;
  position: relative;
  flex-basis: 31.3%;
  border: 1px solid #CACACA;
}

.events__list .swiper-slide {
  height: initial;
}

.event__where,
.event__when {
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999;
}

.event__when {
  margin-bottom: 4px;
}

.event__content {
  min-height: 400px;
  padding: 10px 18px 20px 52px;
  width: 100%;
} 

figure {
  margin: 0;
}

.event__img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.event:not(:nth-child(3n)) {
  margin-right: 3%;
}

.event__heading {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.event__short-descr {
  padding-right: 25px;
  margin-bottom: 70px;
  line-height: 32px;
  overflow: hidden;
}

.event__detail {
  padding-bottom: 5px;
  display: inline-block;
  position: absolute;
  left: 52px;
  bottom: 44px;
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
}

.event__detail:hover {
  text-shadow: 1px 0 var(--violet);
}

.event__detail:active {
  color: var(--dark-violet);
  border-bottom: 1px solid var(--dark-violet);
}

.event__detail-descr {
  display: none;
}

.events__btn {
  margin-right: auto;
  margin-left: auto;
}

.display-none {
  display: none;
}

/* publications */

.publications {
  padding-top: 86px;
  padding-bottom: 72px;
  background-image: url(../img/birmingham-museums-publications.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
}

.publications__container {
  display: flex;
  width: 100%;
}

.publications__left-content {
  margin-right: 50px;
  width: 28%;
  height: 100%;
}

.publications__heading {
  margin-bottom: 27px;
}

/* checkbox BEGIN */

.checkbox-container-header {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.check-list {
  margin-bottom: 41px;
}

.check-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + .label-for-checkbox {
  display: inline;
  user-select: none;
  cursor: pointer;
  transition: color .3s ease;
}

.custom-checkbox + .label-for-checkbox::before {
  content: '';
  display: inline-block;
  margin-right: 13px;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--white-color);
  transition: border-color .3s ease;
}

.custom-checkbox:checked + .label-for-checkbox::before {
  border-color: var(--light-violet);
  color: var(--light-violet);
  opacity: 1;
  content: ''; 
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/checked.svg);
}

.custom-checkbox:checked ~ .label-for-checkbox  {
  color: var(--light-violet);
}

.custom-checkbox:focus:not(:focus-visible) + .label-for-checkbox {
  outline: none;
}

.custom-checkbox:focus + .label-for-checkbox {
  outline: 2px solid var(--dark-violet);
  outline-offset: 2px;
}

.custom-checkbox:hover + .label-for-checkbox {
  color: var(--light-violet);
}

.custom-checkbox:hover + .label-for-checkbox::before {
  border-color: var(--light-violet);
}

.custom-checkbox:active + .label-for-checkbox {
  color: var(--dark-violet);
}

.custom-checkbox:active + .label-for-checkbox::before {
  border-color: var(--dark-violet);
}

/* checkbox END */

.price-filter__heading {
  margin-bottom: 14px;
  font-weight: 600;
}

.price-filter__range {
  display: flex;
  align-items: center;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price-filter__label {
  width: 15%;
  text-align: center;
}

.price-filter__input::placeholder {
  color: var(--white-color);
}

.price-filter__input {
  padding-left: 8px;
  padding-top: 9px;
  padding-bottom: 8px;
  width: 25%;
  height: 100%;
  background: rgba(157, 92, 208, 0.5);
  border: none;
  color: var(--white-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.publications__right-content {
  width: 72%;
}

.publications__switch {
  display: flex;
  padding-top: 27px;
  margin-bottom: 31px;
}

.publications__slider {
  position: relative;
  width: 100%;
}

.publications__slide {  
  width: 30%;
  max-width: 350px;
  height: 100%;
}

.publications__switch--prev {
  margin-right: 20px;
}

.publications__switch--next {
  margin-left: 20px;
}

.publication__img {
  margin-bottom: 12px;
  width: 100%;
  max-height: 390px;
}

.publication__content {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 17px 3px;
  width: 100%;
} 

.publication__info {
  width: 70%;
}

.publication__name {
  margin-bottom: 4px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publication__price {
  font-style: italic;
}

.publication__author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publication__btn-place {
  padding-left: 5px;
  padding-bottom: 6px;
}

.publication__btn {
  padding: 9px 17px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: var(--white-color);
} 

/* projects */

.projects {
  padding-top: 87px;
  padding-bottom: 30px; 
}

.projects__description {
  margin-bottom: 19px;
  display: inline-block;
  max-width: 65%;   
}

.tooltip {
  display: inline-block;
  position: relative;
}

.marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--violet);
  color: var(--white-color);
  cursor: pointer;
}

.popup {
  position: absolute;
  padding: 10px 5px 20px 5px;
  right: -113px;
  bottom: 100%;  
  width: 242px;
  min-height: 42px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 53% 85%, 50% 100%, 47% 85%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 53% 85%, 50% 100%, 47% 85%, 0 85%);
  background: #CACACA;
  color: var(--white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  transition-timing-function: ease-in-out;
}

.popup--big {
  width: 264px;
  right: -125px;
}

.popup--left {
  right: 20px;
  bottom: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 95% 85%, 100% 100%, 80% 85%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 95% 85%, 100% 100%, 80% 85%, 0 85%);
}

.popup--right {
  left: 20px;
  bottom: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 5% 85%, 0% 100%, 20% 85%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 5% 85%, 0% 100%, 20% 85%, 0 85%);
}

.marker:hover + .popup,
.marker:focus + .popup {
  opacity: 1;
  visibility: visible;
}

.partners__heading {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.partners__slider-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.partners__slider {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 91%;
}

.partners__slide {  
  width: 30%;
  max-width: 450px;
  height: 150px;
  border: 1px solid #CACACA;    
}

.partners__link {
  display: flex;
  width: 100%;
  height: 100%; 
  align-items: center;
  justify-content: center;
  transition: filter .3s ease;
  filter: grayscale(1) contrast(0);
}

.partners__slide:nth-child(12) .partners__link,
.partners__slide:nth-child(3) .partners__link { 
  filter: saturate(0) brightness(2.1) contrast(.7);
}
 
.partners__link img {
  object-fit: contain;
}

.partners__link:focus {
  outline: none;
}

.partners__slide:hover .partners__link,
.partners__slide:focus-within .partners__link,
.partners__slide:active .partners__link {
  filter: none;
}

.partners__link:hover,
.partners__link:focus,
.partners__link:active {
  filter: none;
}

.partners__img--p1 {
  width: 244px;
  height: 63px;
}

.partners__img--p2 {
  width: 330px;
  height: 59px;
}

.partners__img--p3 {
  width: 269px;
  height: 63px;
}

.partners__img--p4 {
  width: 123px;
  height: 85px;
}

.partners__img--p5 {
  width: 173px;
  height: 85px;
}

.partners__img--p6 {
  width: 252px;
  height: 70px;
}

.partners__img--p7 {
  width: 286px;
  height: 69px;
}

.partners__img--p8 {
  width: 185px;
  height: 81px;
}

.partners__img--p9 {
  width: 229px;
  height: 62px;
}

/* contacts */

.contacts {
  padding-top: 55px;
  min-height: 781px;
}

.contacts__content {
  display: flex;
  min-height: 700px;
} 

.contacts__addr--320 {
  display: none;
}

.contacts__left-content {
  padding-left: calc(calc(100vw - 1600px) / 2); 
  padding-top: 127px;
  padding-right: 10px;
  flex-basis: 35.5%;
  border: 1px solid #999;
}

address {
  font-style: normal;
}

.contacts__addr {
  margin-bottom: 39px;
}

.contacts__name {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}

.back-call-form {
  display: flex;
  width: 77%;
  flex-direction: column;
  align-items: flex-start;
}

.back-call-form__heading {
  margin-bottom: 20px;
}

.contacts__form {
  margin-bottom: 40px;
}

.back-call-form__heading {
  font-size: 24px;  
}

.back-call-form__input {
  margin-bottom: 22px;
  padding-left: 23px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--dark-color);
  border-radius: 100px;
  color: #999;
  line-height: 1;
}

.back-call-form__input:focus {
  outline: none;
  border-color: var(--violet);
  border-width: 2px;
}

.js-validate-error-label {
  margin-bottom: 8px;
}

.connect-one-click {
  font-size: 24px;  
}

.connect-one-click__list {
  display: flex;
}

.connect-one-click__link {
  position: relative;
  width: 42px;
  height: 42px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.connect-one-click__link:hover:not(:focus):not(:active) {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.connect-one-click__link:active {
  border: 2px solid var(--violet);
  border-radius: 100px;
}

.connect-one-click__link:focus {
  outline: none;
}

.connect-one-click__link:focus:not(:focus-visible) {
  outline: none;
}

.connect-one-click__link:focus:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--dark-violet);
}

.connect-one-click__link:focus:not(:focus-visible)::after {
  content: '';
  border: none;
}

.connect-one-click__item {
  margin-top: 18px;
}

.connect-one-click__item:not(:last-child) {
  margin-right: 19px;
}

.connect-one-click__link--whatsup {
  background-image: url(../img/Whatsapp-Icon.svg);
}

.connect-one-click__link--telegram {
  background-image: url(../img/Telegram_2019_Logo.svg);
}

.contacts__right-content {
  flex-basis: 64.5%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */

.footer {
  height: 140px;
  background-color: #000;
}

.footer__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 17px;
}

.social__link {
  position: relative;
  width: 45.4px;
  height: 45.4px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__link:hover:not(:focus):not(:active) {
  filter: drop-shadow(0px 0px 10px rgba(157, 92, 208, 1));
  border-radius: 29px;
}

.social__link:active {
  border: 2px solid var(--violet);
  border-radius: 100px;
}

.social__link:focus {
  outline: none;
}

.social__link:focus:not(:focus-visible) {
  outline: none;
}

.social__link:focus:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 100px;
  border: 2px solid var(--dark-violet);
}

.social__link:focus:not(:focus-visible)::after {
  content: '';
  border: none;
}

.social__link--vk {
  background-image: url(../img/vk.svg);
}

.social__link--instagram {
  background-image: url(../img/instagram.svg);
}

.social__link--fb {
  background-image: url(../img/fb.svg);
}


@media (max-width: 1600px) {

  html {
    font-size: 14px;
  }  

  header {
    font-size: 16px;
  } 

  .header-main__logo {
    margin-right: 100px;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .hero__content {
    padding-top: 220px;
    padding-bottom: 90px;
    max-width: 37%;
    font-size: 14px;
  }

  .hero__heading {    
    line-height: 70px;
  }
  
  .hero__description {
    margin-bottom: 50px;
  }

  .sub-menu__item:not(:last-child) {
    margin-right: 73px;
  }

  .gallery__slider {
    max-height: 700px;
    height: 700px;
  }

  .contacts__left-content {
    padding-left: 15px; 
  }

  .event__detail {
    bottom: 20px;
  }

  .price-filter__input {
    padding-left: 4px;
  }
}

@media (max-width: 1200px) {

  .nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .sub-menu__item:not(:last-child) {
    margin-right: 53px;
  }

}

@media (max-width: 1124px) {

  .container {
    max-width: 957px;
  }

  html {
    font-size: 16px;
  }  

  .md-modal { 
    width: 58%;
    height: 594px;
  }

  .modal-paint-info {
    width: 75%;
    height: 70%;
  }

  header {
    font-size: 18px;
  } 

  .search-form-mobile {
    justify-content: space-around;
    padding: 2px 0 7px 2px;
    width: 28%;
    height: 36px;
    background: #18171B;
  }

  .search-btn-close {
    display: none;
  }

  .search-form-mobile--open {
    display: flex;
  }

  .search-input-mobile {
    padding-left: 0;
    width: 95%;
    border-bottom: 1px solid white;
    color: var(--light-violet);
    line-height: 1;
  }

  .search-input-mobile:focus-visible {
    outline: none;
  }

  .search-form__btn {
    width: 27px;
    height: 27px;
  }

  .nav-wrapper,
  .header-sub {
    display: none;
  }

  .nav-burger,
  .search-btn--visible {
    display: inline-block;
  }

  .nav-burger {
    margin-right: auto;
  }

  .search-btn {
    margin-left: auto;
  }

  .nav-list {
    width: 30%;
  }

  .nav-btn-close {
    display: block;
    margin-bottom: 49px;
    width: 29px;
    height: 29px;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    padding: 36px 50px 48px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 101vh;
    background: rgba(0, 0, 0, .9);
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  }

  .open {
    opacity: 1;
    visibility: visible;
  }

  .open .nav-list {
    display: flex;
    flex-direction: column;
  }
 
  .open .nav-list li {
    margin-right: 0;
    margin-bottom: 37px;
    font-size: 24px;
    text-align: left;
  }

  .open .nav-list li:last-child {
    margin-bottom: 130px;
  }

  .log-in {
    display: block;
    margin: 0;
    padding: 20px 83px;
    width: 257px;
    border: 2px solid var(--violet);
    border-radius: 100px;
  } 

  .header-main__logo {
    margin-right: 0;
    position: relative;
  }

  .header-main__logo--mr {
    margin-right: 107px;
  }

  .header-main__container {
    padding-bottom: 26px;
  }

  .logo-img {
    object-fit: contain;
    width: 188px;
    height: 44px;
  }

  .search-btn {
    margin-right: 0;
    width: 30px;
    height: 29px;
  }

  .search-btn:active path,
  .search-btn:active rect,
  .nav-burger:active path,
  .nav-burger:active rect {
    fill: var(--violet);
  }

  .hero__slide--1 {
    background-image: url(../img/birmingham-museums-hero1-1024.jpg)
  }
  
  .hero__slide--2 {
    background-image: url(../img/birmingham-museums-hero2-1024.jpg)
  }
  
  .hero__slide--3 {
    background-image: url(../img/birmingham-museums-hero3-1024.jpg)
  }

  .hero__content {
    padding-top: 218px;
    padding-bottom: 114px;
    max-width: 72%;
    font-size: 18px;
  }

  .hero__heading {
    line-height: 78px;
  }

  .hero__description {
    margin-bottom: 135px;
  }

  .section-description {
    max-width: 100%;
  }

  .gallery {
    background-image: url(../img/birmingham-museums-gallery-1024.jpg);
  }

  .gallery__left-content {
    width: 36%;
  }

  .gallery__description {
    max-width: 97%;
  }

  .gallery__right-content {
    width: 64%;
  }

  .gallery__slider {
    height: 594px;
  }

  .gallery__slide {
    width: 45%;
    max-width: 280px;
    max-height: 280px;
    height: calc((100% - 34px) / 2);
  }

  .gallery__img {
    padding: 0;
  }

  .catalog__heading {
    padding-top: 7px;
  } 

  .catalog__header {
    margin-bottom: 1px;
    height: 76px;
  }

  .painter-info {
    margin-right: 50px;
    flex-basis: 47.5%;
  }
  
  .catalog__right-content {
    width: 47.5%;
  }

  .dates__list-column:not(:last-child) {
    margin-right: 48px;
  }

  .dates__list-column {    
    min-width: 200px;
  }

  .event__content {
    padding: 13px 16px 35px 34px;
  }

  .event__short-descr {
    padding-right: 18px;
  }  

  .event__detail {
    left: 35px;
    bottom: 50px;
  }

  .event {
    margin-bottom: 51px;
  } 

  .publications {
    padding-bottom: 80px;
    background-image: url(../img/birmingham-museums-publications-1024.jpg);
  }

  .publications__left-content {
    margin-right: 15px;
    width: 32%;
  }

  .publications__right-content {
    width: 68%;
  }

  .price-filter__range {
    width: 100%;
  }

  .publication__img {
    margin-bottom: 5px;
  } 

  .publication__img img {
    height: 320px;
  }

  .publication__content {
    padding: 4px 0 17px 3px;
  }

  .partners__slider {
    width: 88%;
  }
  
  .partners__slide {  
    width: 47%;
    max-width: 386px;
    height: 128px;    
  }

  .partners__img--p1 {
    width: 210px;
    height: 52px;
  }
  
  .partners__img--p2 {
    width: 283px;
    height: 49px;
  }
  
  .partners__img--p3 {
    width: 229px;
    height: 53px;
  }
  
  .partners__img--p4 {
    width: 105px;
    height: 73px;
  }
  
  .partners__img--p5 {
    width: 148px;
    height: 73px;
  }
  
  .partners__img--p6 {
    width: 215px;
    height: 60px;
  }
  
  .partners__img--p7 {
    width: 244px;
    height: 59px;
  }
  
  .partners__img--p8 {
    width: 158px;
    height: 70px;
  }
  
  .partners__img--p9 {
    width: 196px;
    height: 53px;
  }

  .partners__slide:nth-child(12) .partners__link,
  .partners__slide:nth-child(3) .partners__link { 
    filter: grayscale(1) contrast(0);
  }
  
  .partners__slide:nth-child(11) .partners__link,
  .partners__slide:nth-child(2) .partners__link { 
    filter: saturate(0) brightness(2.1) contrast(.7);
  }

  .partners__slide:hover .partners__link,
  .partners__slide:focus-within .partners__link,
  .partners__slide:active .partners__link {
    filter: none;
  }

  .contacts__left-content {
    padding-left: calc(calc(100vw - 927px) / 2);
    flex-basis: 47.5%;
  }

  .contacts__right-content {
    flex-basis: 52.5%;
  }

  .connect-one-click__link {
    width: 60px;
    height: 60px;
  }

  .connect-one-click__item:not(:last-child) {
    margin-right: 30px;
  } 

  .social__link {
    width: 60px;
    height: 60px;
  }

  .social__item:not(:last-child) {
    margin-right: 31px;
  }


}

@media (max-width: 957px) {

  .contacts__left-content {
    padding-left: 15px;
  }

}

@media (max-width: 850px) {

  .container {
    max-width: 698px;
  }

  .md-modal {
    width: 87%;
  }

  .modal-paint-info {
    width: 79%;
    height: 63%;
  }

  .logo-img {
    height: 46px;
  }

  .header-main__container {
    padding-bottom: 24px;
  }

  .search-form-mobile {
    justify-content: center;
    position: absolute;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
  }

  .search-input-mobile {
    margin-right: 25px;
    width: 70%;
  }

  .search-form__btn {
    margin-right: 25px;
  }

  .search-btn-close {
    display: inline-block;
  }

  .hero__slide--1 {
    background-image: url(../img/birmingham-museums-hero1-768.jpg)
  }
  
  .hero__slide--2 {
    background-image: url(../img/birmingham-museums-hero2-768.jpg)
  }
  
  .hero__slide--3 {
    background-image: url(../img/birmingham-museums-hero3-768.jpg)
  }

  .hero__content {
      padding-top: 216px;
      padding-bottom: 114px;
      max-width: 100%;
  }

  .hero__heading {
      line-height: 80px;
  }

  .hero__description {
    margin-bottom: 133px;
  }

  .gallery {
    padding-bottom: 68px;
    background-image: url(../img/birmingham-museums-gallery-768.jpg);
  }

  .gallery__container {
    display: block;
  }

  .gallery__left-content {
    padding-right: 0;
    width: 42%;
  }

  .gallery__description {
    display: none;
  }

  .gallery__description-undo {
    display: block;
    font-weight: 600;
    line-height: 34px;
  }

  .gallery__filter {
    margin-bottom: 91px;
  }

  .gallery__right-content {
    margin-bottom: 27px;
    width: 100%;
  }

  .gallery__slide {
    max-width: 317px;
  }

  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__right-content {
    margin-bottom: 41px;
    width: 100%;
  }

  .painter-info {
    margin-right: 0;
  }

  .catalog__heading {
    padding-top: 13px;
  }

  .catalog__header {
    margin-bottom: 10px;
    height: 68px;
  }

  .flags-list__item:not(:last-child) {
    margin-right: 54px;
  }

  .catalog__description {
    margin-bottom: 21px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 25px 0 30px 0px;
  }

  .dates__list-column {
    min-width: 195px;
  }

  .dates__list-column:not(:last-child) {
    margin-right: 46px;
  }

  .events {
    padding-top: 28px;
    padding-bottom: 86px;
  }

  .event {
    margin-bottom: 50px;
    flex-basis: 47.5%;
  }

  .event:not(:nth-child(3n)) {
    margin-right: 0;
  }
  
  .event:not(:nth-child(2n)) {
    margin-right: 5%;
  }

  .event__img {
    width: 100%;
    height: 200px;
  }

  .event__heading {
    padding-right: 5px;
  }

  .event__content {
    padding-bottom: 65px;
  }

  .publications {
    padding-bottom: 71px;
    background-image: url(../img/birmingham-museums-publications-768.jpg);
  }

  .publications__container {
    flex-direction: column;
  }

  .publications__left-content {
    margin-right: 0;
    width: 100%;
  }

  .check-list {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: 130px;
  }

  .check-list-item:nth-child(1) {
    width: 27%;
  }

  .check-list-item:nth-child(5) {
    width: 44%;
  }

  .price-filter__range {
      margin-bottom: 22px;
      width: 41.5%;
  }

  .publications__right-content {
    width: 100%;
  }

  .publications__slider { 
    margin-left: auto;
    margin-right: auto;
    width: 91%;
  }

  .publication__img {
    margin-bottom: 10px;
  }

  .publication__btn-place,
  .publication__content {
    padding-left: 0;
  }

  .projects__description {
    margin-bottom: 25px;
    padding-right: 5px;
  }

  .partners__heading {
    margin-bottom: 29px;
  }

  .partners__slide {  
    height: 106px;    
  }
  
  .partners__img--p2 {
    width: 217px;
    height: 38px;
  }
  
  .partners__img--p3 {
    width: 195px;
    height: 45px;
  }
  
  .partners__img--p5 {
    width: 121px;
    height: 59px;
  }
  
  .partners__img--p6 {
    width: 176px;
    height: 48px;
  }
  
  .partners__img--p7 {
    width: 197px;
    height: 47px;
  }
  
  .partners__img--p8 {
    width: 143px;
    height: 62px;
  }
  
  .partners__img--p9 {
    width: 182px;
    height: 49px;
  }

  .contacts__left-content {
    padding-left: calc(calc(100vw - 668px) / 2);
    flex-basis: 56%;
  }

  .contacts__right-content {
    flex-basis: 44%;
  }

  .back-call-form {
    width: 88%;
  }

}

@media (max-width: 684px) {

  .hero__heading {
    font-size: 3em;
    line-height: 65px;
  }

  .check-list {
    height: 220px;
  }

  .catalog__header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog__heading {
    display: block;
    margin-bottom: 30px;
  }

  .event__content {
    padding: 13px 8px 35px 10px;
  }

  .contacts__left-content {
    padding-left: 15px;
  }

}

@media (max-width: 500px) {

  .hero__heading {
    font-size: 2.5em;
    line-height: 55px;
  }

  .flags-list__item:not(:last-child) {
    margin-right: 28px;
  } 

  .event__content {
    padding: 10px;
  }

  .event__heading {
    padding-right: 0;
    font-size: 18px;
    line-height: 24px;  
  }

  .event__detail {
    left: 10px;
    bottom: 35px;
  }

  .check-list {
    height: 400px;
  }

  .check-list-item:nth-child(1) {
    width: 100%;
  }

  .price-filter__range {
      width: 75.5%;
  }

  .contacts {
    padding-top: 40px;
  }

  .contacts__content {
    flex-direction: column-reverse;
    min-height: 320px;
  }

  .contacts__right-content {
    display: block;
    flex-basis: 100%;
    width: 100%;
    height: 320px;
    min-height: 320px;
    max-height: 320px;
  }

  .contacts__left-content {
    padding-top: 24px;
    padding-bottom: 27px;
    padding-left: 15px;
    flex-basis: 0%;
  }

  .contacts__addr {  
    display: none;
  }

  .contacts__addr--320 {
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }

  .contacts__info {
    font-size: 12px;
  }

  .contacts__name {
    padding-bottom: 5px;
    font-size: 18px;
  }

  .back-call-form {
    width: 95%;
  }

  .back-call-form__heading {
    margin-bottom: 22px;
    font-size: 18px;
  }

  .back-call-form__btn {
    padding: 11px 32px;
    font-size: 12px;
  }

  .contacts__form {
    margin-bottom: 23px;
  }

  .connect-one-click {
    font-size: 18px;
  }

  .connect-one-click__link {
    width: 50px;
    height: 50px;
  }

  .connect-one-click__item {
    margin-top: 13px;
  }

  .connect-one-click__item:not(:last-child) {
    margin-right: 20px;
  }

  .social__link {
    width: 45px;
    height: 45px;
  }

}

@media (max-width: 420px) {

  html {
    font-size: 14px;
  }

  .container {
    padding: 0 14px;
    max-width: 320px;
  }

  .md-modal {
    max-width: 290px;
    height: 600px;
  }

  .modal-paint-info {
    width: 100%;
    height: 100%;
  }

  .md-content__right {
    padding: 17px 21px 17px 18px;
  }

  .paint-dates {
    margin-bottom: 12px;
  }

  .md-content {
    flex-direction: column;
  }

  .md-content__left {
    width: 100%;
    height: 35%;
  }

  .md-content__right {
    width: 100%;
    height: 65%;
  }

  .nav-burger svg {
    width: 20px;
    height: 15px;
  }

  .nav-btn-close {
    margin-bottom: 25px;
    width: 15px;
    height: 15px;
  }

  .nav-btn-close svg {
    width: 15px;
    height: 15px;
  }

  .nav-wrapper {
    padding: 13px 16px 30px;
  }
 
  .open .nav-list li {
    margin-bottom: 14px;
    font-size: 16px;
  }

  .open .nav-list li:last-child {
    margin-bottom: 25px;
  }

  .log-in {
    padding: 11px 27px;
    width: 115px;
    font-size: 12px;
  } 

  .log-in__icon {
    display: none;
  }

  .log-in__icon--mobile {
    margin-right: 2px;
    display: inline-block;
  }

  .logo-img {
    width: 97px;
    height: 22px;
  }

  .search-btn svg {
    width: 16px;
    height: 16px;
  }

  .search-form-mobile {
    padding: 15px 15px 20px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 75px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, .4); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);      
  }

  .search-form-mobile:last-child {
    align-items: flex-start;
    padding-bottom: 70px;
  }

  .search-input-mobile {
    margin-right: 45px;
    padding-bottom: 0;
    width: 55%;
    font-size: 12px;
  }

  .search-form__btn {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }

  .search-form__btn svg {
    width: 16px;
    height: 16px;
  }

  .search-btn-close {
    padding-bottom: 35px;
    width: 15px;
    height: 15px;
  }

  .search-btn-close svg {
    width: 15px;
    height: 15px;
  }

  .header-main__container {
    padding: 10px 8px 6px 15px;
  }

  .hero__slide--1 {
    background-image: url(../img/birmingham-museums-hero1-320.jpg)
  }
  
  .hero__slide--2 {
    background-image: url(../img/birmingham-museums-hero2-320.jpg)
  }
  
  .hero__slide--3 {
    background-image: url(../img/birmingham-museums-hero3-320.jpg)
  }

  .hero__content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 79px;
    padding-bottom: 44px;
    text-align: center;
    max-width: 93%;
  }

  .hero__heading {
    margin-bottom: 11px;
    font-size: 32px;
    line-height: 37px;
  }

  .hero__description {
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .btn {
    padding: 12px 16px;
    font-size: 12px;
  }

  .about {
    padding-top: 54px;
    padding-bottom: 41px;
  }

  .about__container {
    padding: 0 15px;
  }

  .section-heading {
    margin-bottom: 14px;
    font-size: 2em;
  }

  .section-description {
    line-height: 28px;
  }

  .gallery {
    padding-top: 55px;
    padding-bottom: 70px;
    background-image: url(../img/birmingham-museums-gallery-320.jpg);
  }

  .gallery__left-content {
    margin-bottom: 28px;
    width: 100%;
  }

  .filter__name {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .gallery__heading {
    margin-bottom: 20px;
  }

  .gallery__right-content {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery__slider {
    height: 367px;
  }

  .gallery__slide {
    width: 100%;
    max-width: 292px;
    max-height: 367px;
    height: 100%;
  }

  .box-for-bg::before {
    bottom: 1%;
  }

  .gallery__switch {
    margin-bottom: 0;
    padding-top: 19px;
    justify-content: center;
  }

  .gallery__pages {
    font-size: 16px;
  }

  .gallery__switch--prev {
    margin-right: 15px;
  }

  .gallery__switch--next {
    margin-left: 15px;
  }   

  .gallery__description-undo {
    font-size: 16px;
    line-height: 32px;
  }

  .catalog {
    padding-top: 71px;
    padding-bottom: 27px;
  }

  .catalog__description {
    display: none;
  }

  .flags-list__link {
    width: 32px;
    height: 32px;
  }

  .flags-list__item:not(:last-child) {
    margin-right: 32px;
  } 

  .catalog__header {
    margin-bottom: 44px;
  }
  
  .ui-accordion .ui-accordion-header {
    padding: 27px 0 28px 1px;
    font-size: 18px;
  }

  .arrow {
    top: 20px;
  }

  .arrow svg {
    width: 30px;
    height: 30px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 15px 0 17px 0px;
  }

  .catalog__right-content {
    margin-bottom: 49px;
  }

  .painter-info__portrait {
    margin-bottom: 17px;
    max-height: 200px;
  }

  .painter-info__name {
    margin-bottom: 15px;
  }

  .painter-info__description {
    font-size: 16px;
  }

  .events {
    padding-bottom: 46px;
  }

  .events__list {
    margin-bottom: 13px;
  }

  .event {
    margin: 0;
    flex-basis: 100%;
  }

  .event:not(:nth-child(2n)),
  .event:not(:nth-child(3n)) {
    margin-right: 0%;
  }

  .event__content {
    padding: 12px 11px 25px 29px;
  }

  .event__heading {
    margin-bottom: 34px;
    padding-right: 5px;
    font-size: 24px;
    line-height: 33px;
  }

  .event__short-descr {
    margin-bottom: 52px;
    font-size: 16px;
  }

  .event__detail {
    left: 28px;
    bottom: 50px;
    font-size: 16px;
  }

  .events__btn {
    display: none;
  }

  .events-pagination {
    display: flex;
    justify-content: center;
    width: 110px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }

  .publications {
    padding-top: 54px;
    padding-bottom: 0;
    background-image: url(../img/birmingham-museums-publications-320.jpg);
  }

  .publications__heading {
    margin-bottom: 14px;
  } 

  .checkbox-container-header {
    position: relative;
    margin-bottom: 0;
    padding: 11px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .check-list {
    flex-wrap: nowrap;
  }

  .check-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .check-list-item {
    position: relative;
    padding: 11px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .checkbox-container-header__arrow-down {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 12px;
    width: 12px;
    height: 11px;
  }
  
  .checkbox-container-header__arrow-down path {
    stroke: var(--white-color);
  }

  .checkbox-container-header__active {
    transform: rotate(180deg);
    top: 14px;
  }

  .checkbox-btn-close {
    display: none;
    position: absolute;
    right: 0;
    top: 12px;
    width: 12px;
    height: 12px;
  }

  .checkbox-btn-close--visible {
    display: inline-block;    
  }

  .label-for-checkbox {
    font-size: 16px;
  }

  .price-filter__range {
    margin-bottom: 52px;
    width: 95%;
  }

  .publications__switch {
    display: none;
  }

  .publications__slider {
    margin: 0;
    width: 100%;
  }

  .publications__slide {
    margin-bottom: 44px;
    max-width: 130px;
    width: 45%;
  }
  
  .publications__slide:not(:nth-child(2n)) {
    margin-right: 10%;
  }

  .publication__img img {
    height: 143px;
  }

  .publication__img {
    margin-bottom: 4px;
  }

  .price-filter__heading {
    font-size: 16px;
  }

  .publication__content {
    padding: 4px 0 12px 3px;
    flex-direction: column;
    font-size: 12px;
  }

  .publication__info {
    margin-bottom: 5px;
    width: 100%;
  } 

  .publication__btn {
    padding: 11px 34px;
    font-size: 12px;
  }

  .projects {
    padding-top: 54px;
    padding-bottom: 15px;
  }

  .projects__description {
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 16px;
    line-height: 32px;
  }

  .partners__heading {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .partners__slide {  
    height: 65px;   
  }

  .partners__img--p1 {
    width: 105px;
    height: 26px;
  }
  
  .partners__img--p2 {
    width: 141px;
    height: 24px;
  }
  
  .partners__img--p3 {
    width: 117px;
    height: 27px;
  }

  .partners__img--p4 {
    width: 53px;
    height: 37px;
  }
  
  .partners__img--p5 {
    width: 75px;
    height: 37px;
  }
  
  .partners__img--p6 {
    width: 109px;
    height: 30px;
  }
  
  .partners__img--p7 {
    width: 124px;
    height: 30px;
  }
  
  .partners__img--p8 {
    width: 80px;
    height: 35px;
  }
  
  .partners__img--p9 {
    width: 99px;
    height: 27px;
  }

  .partners__switch--next {
    margin-left: 10px;
  }

  .partners__switch--prev {
    margin-right: 10px;
  }

  .partners__slide:nth-child(1) .partners__link,
  .partners__slide:nth-child(10) .partners__link { 
    filter: saturate(0) brightness(2.1) contrast(.7);
  }
  
  .partners__slide:nth-child(11) .partners__link,
  .partners__slide:nth-child(2) .partners__link { 
    filter: grayscale(1) contrast(0);
  }

  .partners__slide:hover .partners__link,
  .partners__slide:focus-within .partners__link,
  .partners__slide:active .partners__link {
    filter: none;
  }

  .contacts__left-content {
    padding-left: calc(calc(100vw - 292px) / 2);
  }

  .footer {
    padding-top: 19px;
    padding-bottom: 20px;
    height: 132px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__social {
    margin-bottom: 15px;
  }

  .social__link {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 97px;
    height: 22px;
  }

  .check-list {
    height: auto;
  }

  .check-list-item:nth-child(1),
  .check-list-item:nth-child(5) {
    width: 100%;
  }

}
